<nav class="menu">
    <ul class="nav nav-stacked">
        <li style="text-align:center;"><a class="dotEPUB" data-dotepublang="en" data-dotepublinks="1" href="https://www.dotepub.com" title="Click to Convert This page to an (.epub) or a (.mobi) file.">
		<img src="../images/png/dot-epub-button-62-x-20.png" alt="small dot epub button" /></a></li>
        <li class="btn-group-vertical center-block">
        <button type="button" class="btn btn-med"><hgroup class="text-center"><h3>Navigator</h3></hgroup>
        <button type="button" class="btn btn-lg dropdown-toggle" data-toggle="dropdown"><i class="icon-large icon-screenshot"></i></button>

        <ul class="btn-group-lg dropdown-menu" role="menu">
        <li class="btn-group-med"><a href="../pages/about-us.htm" class="btn btn-med btn-success" title="Click to Jump To the About Us Page" target="_self">About Us <i class="glyphicon glyphicon-ok"></i></a></li>
        <li class="btn-group-med"><a href="../pages/contact-us.htm" class="btn btn-med btn-success" title="Click to Jump To the Contact Us Page" target="_self">Contact Us <i class="glyphicon glyphicon-phone"></i></a></li>
        <li class="btn-group-med"><a href="../pages/affiliates.htm" class="btn btn-med btn-success" title="Click to Jump To the Affiliates Page" target="_self">Affiliates <i class="glyphicon glyphicon-bullhorn"></i></a></li>
        <li class="btn-group-med"><a href="../pages/glyphicons.htm" class="btn btn-med btn-success" title="Click to Jump To the Glyphicons Page" target="_self">Glyphicons <i class="glyphicon glyphicon-pushpin"></i></a></li>
        <li class="btn-group-med"><a href="../pages/license.htm" class="btn btn-med btn-success" title="Click to Jump To the License Page" target="_self">License <i class="glyphicon glyphicon-flag"></i></a></li>
        <li class="btn-group-med"><a href="../pages/privacy-policy.htm" class="btn btn-med btn-success" title="Click to Jump To the Privacy Policy Page" target="_self">Privacy Policy <i class="glyphicon glyphicon-lamp"></i></a></li>
        
        <li class="divider"></li>
        <li class="btn-group-med"><a href="/index.htm" class="btn btn-med btn-success" title="Click to Jump To the Home Page" target="_self">Home Page <i class="glyphicon glyphicon-home"></i></a></li>
        
        </ul>
        </button>
        </li>

        <li class="btn-group-vertical center-block">
        <button type="button" class="btn btn-med"><hgroup class="text-center"><h3>Donate </h3></hgroup>
        <button type="button" class="btn btn-lg dropdown-toggle" data-toggle="dropdown"><i class="icon-large icon-thumbs-up"></i></button>
        
        <ul class="btn-group-lg dropdown-menu" role="menu">
        <li class="btn-group-med"><a href="../Donate/How-To-Donor-Box.htm" class="btn btn-med btn-success" title="Click to Jump To the How To Donor Box Page" target="_self">How To Donor Box  <i class="glyphicon glyphicon-heart-empty"></i></a></li>
        <li class="btn-group-med"><a href="../Donate/Pay-It-Forward.htm" class="btn btn-med btn-success" title="Click to Jump To the Pay It Forward Page" target="_self">Pay It Forward <i class="glyphicon glyphicon-heart-empty"></i></a></li>
        
        <li class="divider"></li>
        <li class="btn-group-med"><a href="../Donate/Learn-To-Donate-Now.htm" class="btn btn-med btn-success" title="Click to Jump To the Learn To Donate Now Page" target="_self">Learn To Donate <i class="glyphicon glyphicon-star-empty"></i></a></li>
        
        <li class="divider"></li>
        <li class="btn-group-med"><a href="/index.htm" class="btn btn-med btn-success" title="Click to Jump To the Home Page" target="_self">Home Page <i class="glyphicon glyphicon-home"></i></a></li>
        
        </ul>
        </button>
        </li>

        <li class="btn-group-vertical center-block">
        <button type="button" class="btn btn-med"><hgroup class="text-center"><h3>Social Media</h3></hgroup>
        <button type="button" class="btn btn-lg dropdown-toggle" data-toggle="dropdown"><i class="icon-large icon-fire"></i></button>
        
        <ul class="btn-group-lg dropdown-menu" role="menu">
        <li class="btn-group-med"><a href="../Social/social-algiatry.htm" class="btn btn-med btn-success" title="Click to Jump To the Social Algiatry Page" target="_self">Algiatry <i class="glyphicon glyphicon-tent"></i></a></li>
        <li class="btn-group-med"><a href="../Social/social-bitly.htm" class="btn btn-med btn-success" title="Click to Jump To the Social Bitly Page" target="_self">Social Bitly <i class="glyphicon glyphicon-tent"></i></a></li>
        <li class="btn-group-med"><a href="../Social/social-amplification.htm" class="btn btn-med btn-success" title="Click to Jump To the Social Amplification Page" target="_self">Amplification <i class="glyphicon glyphicon-tent"></i></a></li>
        <li class="btn-group-med"><a href="../Social/social-engineering.htm" class="btn btn-med btn-success" title="Click to Jump To the Social Engineering Page" target="_self">Social Engineering <i class="glyphicon glyphicon-tent"></i></a></li>
        <li class="btn-group-med"><a href="../Social/social-relaxation.htm" class="btn btn-med btn-success" title="Click to Jump To the Social Relaxation Page" target="_self">Relaxation <i class="glyphicon glyphicon-tent"></i></a></li>
        <li class="btn-group-med"><a href="../Social/sleep-insomnia.htm" class="btn btn-med btn-success" title="Click to Jump To the Sleep Insomnia Page" target="_self">Sleep Insomnia <i class="glyphicon glyphicon-tent"></i></a></li>
        <li class="btn-group-med"><a href="../Social/social-media.htm" class="btn btn-med btn-success" title="Click to Jump To the Social Media Page" target="_self">Social Media <i class="glyphicon glyphicon-tent"></i></a></li>

        <li class="divider"></li>
        <li class="btn-group-med"><a href="../Social/Learn-Social-Media-Now.htm" class="btn btn-med btn-success" title="Click to Jump To the Learn Social Media Page" target="_self">Learn Social Media <i class="glyphicon glyphicon-star-empty"></i></a></li>
        
        <li class="divider"></li>
        <li class="btn-group-med"><a href="/index.htm" class="btn btn-med btn-success" title="Click to Jump To the Home Page" target="_self">Home Page <i class="glyphicon glyphicon-home"></i></a></li>
        
        </ul>
        </button>
        </li>

        <li class='btn-group-vertical center-block'>
        <button type='button' class='btn btn-med'><hgroup class='text-center'><h3>Markdown</h3></hgroup>
        <button type='button' class='btn btn-lg dropdown-toggle' data-toggle='dropdown'><i class='icon-large icon-old-man'></i></button>

        <ul class='btn-group-lg dropdown-menu' role='menu'>
        <li class='btn-group-med'><a href='../pages/Markdown-Tips.md' class='btn btn-med btn-success' title='Click to Jump To the Markdown Tips Page' target='_self'>Markdown Tips <i class='glyphicon glyphicon-random'></i></a></li>
        
        <li class='divider'></li>
        <li class='btn-group-med'><a href='../pages/Learn-Markdown-Now.htm' class='btn btn-med btn-success' title='Click to Jump To the Learn Markdown Page' target='_self'>Learn Markdown <i class='glyphicon glyphicon-star-empty'></i></a></li>

        <li class='divider'></li>
        <li class='btn-group-med'><a href='/index.htm' class='btn btn-med btn-success' title='Click to Jump To the Home Page' target='_self'>Home Page <i class='glyphicon glyphicon-home'></i></a></li>
        
        </ul>
        </button>
        </li>

        <li class="btn-group-vertical center-block">
        <button type="button" class="btn btn-med"><hgroup class="text-center"><h3>Solar Power</h3></hgroup>
        <button type="button" class="btn btn-lg dropdown-toggle" data-toggle="dropdown"><i class="icon-large icon-electricity"></i></button>
        
        <ul class="btn-group-lg dropdown-menu" role="menu">
        <li class="btn-group-med"><a href="../Solar/Solar-Electricity.md" class="btn btn-med btn-success" title="Click to Jump To the Solar Page" target="_self">Solar Electricity <i class="glyphicon glyphicon glyphicon-sunglasses"></i></a></li>
        <li class="btn-group-med"><a href="../Solar/Sunjevity-Referral.md" class="btn btn-med btn-success" title="Click to Jump To the Definition List Page" target="_self">Sunjevity Referral <i class="glyphicon glyphicon glyphicon-sunglasses"></i></a></li>

        <li class="divider"></li>
        <li class="btn-group-med"><a href="../Solar/Learn-Solar-Power-Now.htm" class="btn btn-med btn-success" title="Click to Jump To the Learn Solar Page" target="_self">Learn Solar <i class="glyphicon glyphicon-star-empty"></i></a></li>
        
        <li class="divider"></li>
        <li class="btn-group-med"><a href="/index.htm" class="btn btn-med btn-success" title="Click to Jump To the Home Page" target="_self">Home Page <i class="glyphicon glyphicon-home"></i></a></li>
        
        </ul>
        </button>
        </li>

    </ul>
    
    <aside id="supporting-content">
		{% include aside.htm %}
	</aside>

</nav>
